body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bb2528; /* Red color */
    padding: 1rem;
    color: white;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .nav-links {
    list-style-type: none;
    display: flex;
}

.navbar .nav-links li {
    position: relative;
    margin: 0 1rem;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar .nav-links .dropdown {
    display: none;
    position: absolute;
    background-color: #bb2528;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.navbar .nav-links .dropdown li {
    width: 200px;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.navbar .nav-links .dropdown li:last-child {
    border-bottom: none;
}

.section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.section.visible {
    opacity: 1;
}

.section {
    padding: 2rem;
    background-color: white;
    margin: 1rem auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #bb2528; /* Red color */
    animation: fadeInUp 1s ease-in-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #bb2528; /* Red color */
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #0077b6; /* Adjusted color */
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #666;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    color: #666;
}

.services-overview .dropdown-content {
    display: none;
    background-color: #fff;
    padding-left: 1rem;
}

.dropdown-heading {
    cursor: pointer;
}

.dropdown-heading:hover {
    color: #bb2528; /* Red color */
}
